
<div class="container">
    
    <h1 class="text-center"> Sorteio realizado! </h1>
    <h3 class="text-center">Confira abaixo os numeros sorteados</h3>
    <br/>
    
    <div class="row">
        <%@winners.each do |winner| %>
             <div class="col-md-12 col-sm-12 col-lg-12 col-xs-6 text-center">
                     <div class="odometer" id="odometer<%=winner.lucky_number%>">101</div>
                    
                     <br/>
                       <br/>
                     <p>
                          <button id="button<%=winner.lucky_number%>" class="btn btn-primary btn-lg">Sortear</button>
                      </p>
                     <br/>
                     
             </div>
             <%= javascript_tag do %>
                    $(document).ready(function(){
                        $(button<%=winner.lucky_number%>).click(function(){
                             setTimeout(function(){odometer<%=winner.lucky_number%>.innerHTML = <%=winner.lucky_number%>}, 1000);
                        });
                    });
            <% end %>
        <%end%>
    </div>
</div>
