
<div class="text-center">
  <h1>Lista de Sorteios</h1>
</div>

<table class="table table-striped">
    <tr>
      <thead class="thead-inverse">
      <th>Identificador</th>
      <th>Data</th>
      <th>Vagas</th>
      <th>Inscritos</th>
      <th>Encerrado</th>
      <th colspan="3"></th>
      </thead>
    </tr>
    <tr>
    <% @lotteries.each do |lottery| %>
      <tbody>
        <td><%= lottery.id %></td>
        <td><%= lottery.final_date %></td>
        <td><%= lottery.vacancies %></td>
        <td><%= lottery.players.count %></td>
        <td><%= lottery.closed_sim_nao %></td>
        <td><%= link_to 'Detalhes', lottery,class: "btn btn-default" %></td>
      
      </tbody>
    <% end %>
  </tr>
</table>

<br>

